body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9e9e9e;
}

.page {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    caret-color: transparent;
    resize: both;
    overflow: auto;
}

.page:focus .caret {
    display: inline;
    animation-name: caret-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.caret {
    display: none;
}

pre {
    display: inline;
    margin: 0;
}

@keyframes caret-blink {
    0% {
        visibility: visible;
    }
    50% {
        visibility: visible;
    }
    51% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}